@import './styles/menu-nav.css';
@import './styles/header.css';
@import './styles/buttons.css';
@import './styles/numbers.css';
@import './styles/services.css';
@import './styles/sobre.css';
@import './styles/contato.css';
@import './styles/footer.css';
@import './styles/active-menu.css';
@import './styles/backToTop.css';

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'DM Sans';
    text-align: center;
    margin: 0 auto;
}

ul {
    list-style: none;
}