/*  contato section */ 

.contato {
    text-align: left;
    background: white;
    height: 535px;
    text-align: left;
    padding: 83px 24px 116px 24px;
}

.contato div {
    display: flex;
}

.contato div img {
    margin-right: 8px;
    align-self: flex-end;
}

.contato div p {
    margin-bottom: 0px;
}

.contato h4 {
    margin-bottom: 16px;
}

.contato img {
    padding-left: 3px;
}

.contato a {
    text-decoration: none;
}
